<div>
    <ul class="custom-list">
        <li><strong>Average Distance:</strong> {{ analytics['avg_distance'] }}</li>
        <li><strong>Average Time:</strong> {{ analytics['avg_time'] }}</li>
        <li><strong>Average Heart Rate:</strong> {{ analytics['avg_heart_rate'] }}</li>
        <li><strong>Average Ascent:</strong> {{ analytics['avg_ascent']}}</li>
        <li><strong>Max Distance:</strong> {{ analytics['max_distance'] }}</li>
        <li><strong>Max Time:</strong> {{ analytics['max_time']}}</li>
        <li><strong>Max Ascent:</strong> {{ analytics['max_ascent'] }}</li>
    </ul>
</div>
